/*
=========================================================
AUTHOROS
CARDS
Version 0.1.0
=========================================================
*/

.card {
    border:
        1px solid var(--color-border);

    border-radius:
        var(--radius-medium);

    background:
        var(--color-surface);
}


.card-header {
    padding:
        16px 20px;

    border-bottom:
        1px solid var(--color-border);
}


.card-body {
    padding:
        20px;
}


.card-footer {
    padding:
        12px 20px;

    border-top:
        1px solid var(--color-border);
}